<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <script type=text/javascript src="/static/js/jquery.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    {% block further_head %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </nav>


    {% block content %}{% endblock %}
</body>

</html>